<div style='position: absolute; z-index: 100;'>
  <ul>
    <li>Avg Speed across fleet: <%= (@race.boats.map{_1.positions.last}.map(&:sog).map(&:to_f).sum/@race.boats.count).round(2) %> knts</li>
    <li>Avg Temp across fleet: <%= (@race.boats.map{_1.positions.last}.map(&:temperature).map(&:to_f).sum/@race.boats.count).round(2) %> °C</li>
  </ul>
</div>
<div style="width: 100%; height: 100vh;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
